*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.goofyodin,
.foodimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
}

a:visited {
  text-decoration: none;
  color: blue;
}

h1,
h2,
h3 {
  text-align: center;
}

h2 {
  display: block;
}

h3 {
  padding-top: 2em;
}

p,
.steps {
  font-size: 20px;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}
.myrecps {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0.5em;
  /* font-size: 1.5em; */
  text-shadow: 0.8em;
  text-decoration: none;
}

.ingr {
  display: inline-block;
  font-size: 20px;
  text-align: left;
  margin: 0px;
  /* margin-left: 20%;
  margin-right: 20%; */
}

.ingrimg {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

.ingrimgs {
  /* display: inline-block; */
  /* margin: auto; */
  width: 30%;
  height: auto;
}
