*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Impact, "Arial Narrow Bold", sans-serif;
}

.goofyodin,
.foodimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*  width: 300px;*/
  width: 25em;
  height: auto;
}

a:visited {
  text-decoration: none;
  color: blue;
}

h1 {
  text-align: center;
  font-size: 2em;
}

h2 {
  text-align: center;
  font-size: 1.5em;
}

h3 {
  text-align: center;
  font-size: 1.2em;
  padding-top: 2em;
}

p {
  font-size: 1.5em;
  text-align: justify;
  margin-left: 20em;
  margin-right: 20em;
}
.myrecps {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0.5em;
  font-size: 1.5em;
  text-shadow: 0.2em;
  text-decoration: none;
}

.ingr {
  text-align: left;
  margin-left: 20em;
}
